.cabecalho { 
background-color: #E2BCFA;
display: flex;
justify-content: space-around;
}

.cabecalho-imagem { width: 10%;}
.cabecalho-imagem-lista1 { width: 25%}
.cabecalho-imagem-lista2 { width: 10%;}

.site{ background-color: #E2BCFA;}

.imagem1 { width: 20%;}

.imagem2 { width: 20%;}

.lista-geral {display: grid;}

.lista {display: flex; justify-content: space-around;}

.lista2 {display: flex; justify-content: space-around;}